doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/skeleton.css")
    script(type="text/javascript", src="jQueryのパス")
    title Pugテスト
  body
    .container
      .row
        .twelve.columns
          h1 Login
        .row
          .six.columns
            label(for="loginId") LOGIN ID
            input.u-full-width(
              type="text"
              placeholder="Input Your Id"
              id="loginId"
              name="loginId"
              maxlength="45"
            )
        .row
          .six.columns
            label(for="password") PASSWORD
            input.u-full-width(
              type="password"
              placeholder="Input Your Password"
              id="password"
              name="password"
              maxlength="45"
            )
        .row
          .twelve.columns
            input(
              class="button-primary"
              type="submit"
              value="LOGIN"
            )